In [1]:
#Evaluacion de eficiencia del codigo, diferencia entre el tiempo de finalizacion y el tiempo de inicio.

import time

start= time.time()

#Nuestro codigo
time.sleep(0.5)
    
end= time.time()

print(end-start)

0.500216007232666

In [2]:
from datetime import timedelta

start= time.monotonic()

time.sleep(1)

end= time.monotonic()

print(timedelta(seconds=end-start))

0:00:01

In [3]:
import pandas as pd

#importa base de datos y nrows recorta la cantidad de  datos que devuelve la base

df= pd.read_csv('C:/Users/jesica/Desktop/Python_Data_Science/base_datos_2008.csv', nrows=500)

df.head()#muestra las 5 primeras 
df.head(15)#muestra las 15 primeras filas
df.tail()#muestra las ultimas filas de la base

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
495,2008,1,3,4,2102.0,2100,2225.0,2230,WN,3239,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
496,2008,1,3,4,1101.0,1055,1142.0,1145,WN,454,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
497,2008,1,3,4,1917.0,1855,1959.0,1940,WN,977,...,6.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,16.0
498,2008,1,3,4,1502.0,1440,1540.0,1525,WN,1151,...,5.0,10.0,0,NaN,0,12.0,0.0,0.0,0.0,3.0
499,2008,1,3,4,643.0,630,726.0,720,WN,1235,...,9.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
#reordenar base de datos

df=df.sample(frac =1)# nos guarda el 100% de las filas que tenemos
df.columns #nos devuelve nombre de las columnas
df.values #devuelve los valores de la base en forma de matriz

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., 0.0, 0.0, 47.0],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., 0.0, 0.0, 30.0]], dtype=object)

In [5]:
#herramientas de filtrado de informacion
df[100:103]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
241,2008,1,3,4,2215.0,2200,2334.0,2315,WN,1341,...,4.0,18.0,0,NaN,0,6.0,0.0,4.0,0.0,9.0
299,2008,1,3,4,916.0,905,1046.0,1035,WN,2121,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
316,2008,1,3,4,715.0,720,926.0,935,WN,1059,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df[df['ArrDelay']<60].head() #vuelos que se retrasaron menos de una hora

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
186,2008,1,3,4,1433.0,1420,1608.0,1555,WN,1011,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
33,2008,1,3,4,1312.0,1300,1546.0,1550,WN,1397,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
44,2008,1,3,4,1153.0,1140,1428.0,1440,WN,2006,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
187,2008,1,3,4,935.0,925,1106.0,1055,WN,1258,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df['ArrDelay']>60].head() #vuelos que se retrasaron mas de una hora

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
276,2008,1,3,4,2301.0,2105,59.0,2240,WN,3061,...,4.0,16.0,0,NaN,0,0.0,0.0,131.0,0.0,8.0
313,2008,1,3,4,1143.0,1035,1621.0,1505,WN,574,...,3.0,29.0,0,NaN,0,0.0,0.0,14.0,0.0,62.0
306,2008,1,3,4,1125.0,1010,1224.0,1110,WN,1016,...,5.0,9.0,0,NaN,0,9.0,0.0,0.0,0.0,65.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0

In [8]:
#agrega columna nueva a la base
df["HoursDelay"]=round(df["ArrDelay"]/60)
df["HoursDelay"].head()

186    0.0
6      1.0
33    -0.0
44    -0.0
187    0.0
Name: HoursDelay, dtype: float64