In [1]:
import pandas as pd #importar libreria

In [6]:
data= pd.read_csv('C:/Users/jesica/Downloads/Forbes.csv') #agregar archivo csv
data.head()  #me muestra los 5 primeros registros

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...

In [7]:
data #se pueden ver todos los datos

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...
...,...,...,...,...,...,...,...,...,...,...,...
1995,Cameco,Materials,Diversified Metals & Mining,North America,Canada,9.5,2.4,0.3,7.6,1996,http://www.forbes.com/companies/cameco/
1996,BMCE Bank,Financials,Regional Banks,Africa,Morocco,4.6,1.5,0.1,26.3,1997,http://www.forbes.com/companies/bmce-banque-ma...
1997,Synovus Financial,Financials,Regional Banks,North America,United States,3.4,1.2,0.2,26.2,1998,http://www.forbes.com/companies/synovus-financ...
1998,Equifax,Consumer Discretionary,Business & Personal Services,North America,United States,8.5,2.3,0.3,4.5,1999,http://www.forbes.com/companies/equifax/
1999,UNY Group Holdings,Consumer Discretionary,Specialty Stores,Asia,Japan,1.4,10.7,0.1,8.8,1999,http://www.forbes.com/companies/uny-group-hold...

In [8]:
print(data[:6]) # me muestra cierta cantidad de filas

                      Company      Sector              Industry  \
0                        ICBC  Financials           Major Banks
1     China Construction Bank  Financials        Regional Banks
2  Agricultural Bank of China  Financials        Regional Banks
3              JPMorgan Chase  Financials           Major Banks
4          Berkshire Hathaway  Financials   Investment Services
5                 Exxon Mobil      Energy  Oil & Gas Operations

       Continent        Country  Market Value  Sales  Profits  Assets  Rank  \
0           Asia          China         215.6  148.7     42.7  3124.9     1
1           Asia          China         174.4  121.3     34.2  2449.5     2
2           Asia          China         141.1  136.4     27.0  2405.4     3
3  North America  United States         229.7  105.7     17.3  2435.3     4
4  North America  United States         309.1  178.8     19.5   493.4     5
5  North America  United States         422.3  394.0     32.6   346.8     6

                                      Forbes Webpage
0              http://www.forbes.com/companies/icbc/
1  http://www.forbes.com/companies/china-construc...
2  http://www.forbes.com/companies/agricultural-b...
3    http://www.forbes.com/companies/jpmorgan-chase/
4  http://www.forbes.com/companies/berkshire-hath...
5       http://www.forbes.com/companies/exxon-mobil/

In [9]:
print(data.loc[0]) #mostrar solo la primer fila

Company                                            ICBC
Sector                                       Financials
Industry                                    Major Banks
Continent                                          Asia
Country                                           China
Market Value                                      215.6
Sales                                             148.7
Profits                                            42.7
Assets                                           3124.9
Rank                                                  1
Forbes Webpage    http://www.forbes.com/companies/icbc/
Name: 0, dtype: object

In [10]:
print(data[['Company','Sales']]) # muestro la columna company y la columna ventas nada mas

                         Company  Sales
0                           ICBC  148.7
1        China Construction Bank  121.3
2     Agricultural Bank of China  136.4
3                 JPMorgan Chase  105.7
4             Berkshire Hathaway  178.8
...                          ...    ...
1995                      Cameco    2.4
1996                   BMCE Bank    1.5
1997           Synovus Financial    1.2
1998                     Equifax    2.3
1999          UNY Group Holdings   10.7

[2000 rows x 2 columns]

In [11]:
print(sum(data['Sales'])) #suma de la columna ventas

38360.99999999978

In [12]:
print(data.mean())  #promedio de columnas numericas

Market Value      22.20515
Sales             19.18050
Profits            1.46375
Assets            80.48720
Rank            1000.32450
dtype: float64

In [13]:
print(data[data['Sales']<0.5]) # me muestra las columnas donde las ventas son menore a 0.5

                        Company                  Sector  \
576   Porsche Automobil Holding  Consumer Discretionary
1136                   Kinnevik              Financials
1614        Ezdan Holding Group              Financials
1670           Equity Assurance                     NaN
1677          Bolsas & Mercados              Financials
1734         Honbridge Holdings                     NaN
1763          Hysan Development              Financials
1789           Intouch Holdings                     NaN
1800               RMB Holdings              Financials
1808            Cheniere Energy                     NaN
1811          NetDragon Websoft  Consumer Discretionary
1832         Hyprop Investments                     NaN
1849           Japan Securities              Financials
1994               Shikoku Bank              Financials

                        Industry      Continent        Country  Market Value  \
576   Auto & Truck Manufacturers         Europe        Germany          32.3
1136         Investment Services         Europe         Sweden          10.2
1614                 Real Estate           Asia          Qatar          11.6
1670                         NaN         Africa        Nigeria           0.0
1677         Investment Services         Europe          Spain           3.4
1734                         NaN           Asia      Hong Kong           1.3
1763                 Real Estate           Asia      Hong Kong           4.6
1789                         NaN           Asia       Thailand           7.6
1800         Investment Services         Africa   South Africa           6.4
1808                         NaN  North America  United States          13.7
1811       Recreational Products           Asia          China           1.0
1832                         NaN         Africa   South Africa           1.8
1849         Investment Services           Asia          Japan           0.6
1994              Regional Banks           Asia          Japan           0.4

      Sales  Profits  Assets  Rank  \
576     0.0      3.2    43.1   577
1136    0.2      1.3    10.5  1137
1614    0.3      0.3    11.3  1614
1670    0.0      0.0    54.3  1670
1677    0.4      0.2    53.6  1678
1734    0.0      1.2     2.0  1734
1763    0.4      0.8     9.8  1763
1789    0.3      0.5     1.5  1790
1800    0.0      0.6     3.0  1801
1808    0.3     -0.5     9.7  1808
1811    0.1      1.0     0.9  1811
1832    0.2      1.0     2.5  1833
1849    0.2      0.1    35.1  1850
1994    0.4      0.1    26.5  1994

                                         Forbes Webpage
576   http://www.forbes.com/companies/porsche-automo...
1136          http://www.forbes.com/companies/kinnevik/
1614  http://www.forbes.com/companies/ezdan-holding-...
1670  http://www.forbes.com/companies/equity-assurance/
1677   http://www.forbes.com/companies/bolsas-mercados/
1734  http://www.forbes.com/companies/honbridge-hold...
1763  http://www.forbes.com/companies/hysan-developm...
1789  http://www.forbes.com/companies/intouch-holdings/
1800      http://www.forbes.com/companies/rmb-holdings/
1808   http://www.forbes.com/companies/cheniere-energy/
1811  http://www.forbes.com/companies/netdragon-webs...
1832  http://www.forbes.com/companies/hyprop-investm...
1849  http://www.forbes.com/companies/japan-securities/
1994      http://www.forbes.com/companies/shikoku-bank/